
.animation{
    position: relative;
    animation-name: myAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes myAnimation {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}
.animation-1{
    position: relative;
    animation-name: myAnimatio;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes myAnimatio {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}
.animation-2{
    position: relative;
    animation-name: myAnimati;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes myAnimati {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}
.animation-3{
    position: relative;
    animation-name: myAnimat;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes myAnimat {
    0%   {left:0px; top:0px;}
    25%  {left:0px; top:0px;}
    50%  {left:0px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}
@media screen and (max-width:600px) {
    @keyframes myAnimation{
        0%   {left:0px; top:0px;}
        25%  {left:0px; top:0px;}
        50%  {left:0px; top:200px;}
        75%  {left:0px; top:200px;}
        100% {left:0px; top:0px;}
    }
    @keyframes myAnimatio{
        0%   {left:0px; top:0px;}
        25%  {left:0px; top:0px;}
        50%  {left:0px; top:200px;}
        75%  {left:0px; top:200px;}
        100% {left:0px; top:0px;}
    }
    @keyframes myAnimati{
        0%   {left:0px; top:0px;}
        25%  {left:0px; top:0px;}
        50%  {left:0px; top:200px;}
        75%  {left:0px; top:200px;}
        100% {left:0px; top:0px;}
    }
    @keyframes myAnimat{
        0%   {left:0px; top:0px;}
        25%  {left:0px; top:0px;}
        50%  {left:0px; top:200px;}
        75%  {left:0px; top:200px;}
        100% {left:0px; top:0px;}
    }
}